PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/interview-prep-kit
SESSION_SECRET=replace-with-a-long-random-string
GROQ_API_KEY=your-groq-api-key-here
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
TAVILY_API_KEY=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